.menu{
    list-style-type: none;
    margin: 0;
    background: #a5a59b;
    text-align: right;
    line-height: 40px;
}

.menu  li{
display: inline;
margin-right: 20px;
letter-spacing: 3px;
font-size: 20px;
font-weight: bold;
}

.menu a{
color: white !important;
}